#----------------------------------------||-----------------------------------#
#          _      _      _    ___  __    ||                                   #
#         | |    | |    | |  |__ \/_ |   || File: $HOME/.gitconfig            #
#         | | ___| | ___| | __  ) || |   ||                                   #
#     _   | |/ _ \ |/ _ \ |/ / / / | |   ||                                   #
#    | |__| |  __/ |  __/   < / /_ | |   ||                                   #
#     \____/ \___|_|\___|_|\_\____||_|   ||                                   #
#________________________________________||___________________________________#

[user]
	email = jerome.lekieffre@yahoo.fr
	name = jelek21

[core]
	pager = diff-so-fancy | less -FXRi
